* {
  margin: 0;
  padding: 0;
}

/****
BASE STYLING
****/
.landing {
  background: url("../img/cityscape.jpg") no-repeat center center fixed;
  background-position: 0 0;
  background-size: cover;
  min-height: 1000px;
  height: 100vh;
  display: block;
  text-align: center;
}

header {
    width: 100%;
}


#logo {
  height: 125px;
  padding: 20px;
  margin: auto;
  display: block;
}

.nav-line {
  display: block;
  height: 3px;
  width: 100%;
  background-color: rgba(0,0,0,.4)
}

.navbar {
  display: block;
  margin: 0 auto;
  width: 85vw;
  padding-top: 10px;
  margin: 0 auto;
}

.menuButton {
  display: block;
  width: 90vw;
  max-width: 300px;
  height: 40px;
  background: rgba(255,255,255,.7);
  margin: 10px auto;
  text-align: center;
  line-height: 41px;
  cursor: pointer;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: .5em 0;
  list-style: none;
  text-align: center;
  margin-left: -40px;

}


.nav-item {
  background-color: #e8f1f2;
  margin: 5px 0;
  color: rgba(0,0,0,.1);
  width: 100%;
}

.nav-item a {
  color: rgba(0,0,0,.5);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 0;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: #e8f1f2;
}

body {
  background-color: #e8f1f2;
}



/*****
Front Page
*****/
.welcome {
  text-align: center;
  height:430px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcomeText {
  display: flex;
  flex-direction: column;
}

.headline {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  color: #2f2e2e;
  text-shadow: #f4f4f4 0 0 5px;
}

#jesus {
  color: #f0efef;
  -webkit-text-stroke: 1px rgba(0,0,0,.1);
  text-shadow: rgba(255,157,0,.7) 0 0 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  margin: 10px;
  display: inline-block;
}

.btn a {
  font-size: 20px;
  min-width: 168px;
  display: block;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255,157,0,.7);
  padding: 16px 28px;
  border: 2px solid white;
  text-shadow: #1c1b1b 1px 0 8px;
}

#nwsltrButton a {
  background-color: #8be9fd;
}

#newButton {
  margin-top: 30px;
}

.buttonDiv {
  margin-top: 38px;
  margin-bottom: -44px;
  width
}

/*****
Basic Section Styling
*****/
.color-back {
  height: 800px;
  font-size: 35px;
  color: #001a23;
  font-family: 'Roboto', sans-serif;
}


.img-back {
  display: flex;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 35px;
  color: #e8f1f2;
  font-family: 'Roboto', sans-serif;
  position: relative;
  clear: both;
  min-height: 100vh;
}

.color-back p {
  font-size: 20px;
  color: #001a23;
}

.img-back p {
  font-size: 20px;
  color: #e8f1f2;
}

.layer {
  background-color: rgba(0, 26, 35, .6);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}



/*****
Content layout
*****/


.img-container {
  width: 92vw;
  min-height: 100%;
  margin: 0 auto;
  z-index: 3;
  position: relative;
}

.color-container {
  width: 92vw;
  margin: 0 auto;
  min-height: 100%;
}


.text-blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: inherit;
  justify-content: space-between;
  overflow: auto;
}

#overlay {
  background: rgba(0,0,0,.6);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 10;
}

#subWindow {
  display: inline-block;
  width: 100%;
  height: 400px;
  background: #e8f1f2;
  margin-top: 100px;
  left: 50%;
  margin-left: -50%;
  position: fixed;
  z-index: 11;

}

.nwsLabel {

}

.nwsInput {

}

/*****
Beliefs
*****/

.content-block {
  width: 85%;
}

.belief-block {

}

/*****
Service Times
*****/
#services {
  background: url("../img/pews.jpeg");
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
}

.content-block {
  width: 85%;
}

.top-cut {
  float:right;
  margin: 30px 0 10px 0 ;
}

#services .img-container .top-cut {
  align-self: flex-end;
}

.info-block {
  width: 80%;
  border: 2px solid #e8f1f2;
  background: rgba(232,241,242,.4);
  color: #001a23;
  text-align: center;
  min-height: 385px;
}

.info-block p:last-child {
  padding-bottom: 30px;
}

.two-block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.info-block h3 {
  font-size: 1.5em;
  flex-direction: column;
}

.info-block p {
  font-size: .6em;
  color: #001a23;
}

#worship-block {

}

#bible-study-block {
  margin-top: 30px;
}




/*****
Staff
*****/

.staff-container {
  margin-top: 100px;
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: auto;

}
.staff-block {
  margin:auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  width:100%;
  margin-bottom: 75px;
}


.staff-photo {
  width:100%;
  margin: 0 auto;
}

.staff-bio h3 {
  text-align: center;
}

.staff-bio {
  width: 90%;
  text-align: left;
  margin:auto;
}

.staff-photo img {
  display: block;
  margin: auto;
  width:80%;
  max-width: 300px;
  min-width: 200px;
  border-radius: 15px;

}


/*****
Location
*****/
#location {
  background: url("../img/street.jpeg");
  background-attachment: fixed;
}

#map {
  height: 475px;
  width: 75%;
  min-height: 20px;
  min-width: 20px;
  margin: 0 auto;
}

.address {
  text-align: center;
}

/*****
Member FAQ
*****/



/*****
Footer
*****/
.footer {
  background-color: #001a23;
  height: 100px;
  color: #e8f1f2;
  position: relative;
  margin-top: -100px;
  clear: both;
}

.footer p {
  padding-top: 2em;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.color-back:before {
  display: block;
  content: " ";
  height: 10px;
  visibility: hidden;
}

/****
Newsletter sign up
***/
#subDiv {
  display:none;
}

#subForm h2 {
  margin-bottom: 40px;
}

.nwsInput {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.nwsLabel {
  display: block;
  width: 70%;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 5px;
}

.closeX {
  display: inline-block;
  color: white;
  background: black;
  height: 23px;
  width: 23px;
}

#nwsCloseX {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.nwsBtn {
  width: 200px;
  height: 60px;
  color: #e8f1f2;
  background: #7a9e7e;
  border: 2px solid #001a23;
}

/****
MEDIA QUERIES
***/
@media screen and (min-width: 640px) {
  .welcomeText{
    flex-direction: row;
    margin-top: 125px;
    }

    .welcome {
      height: 650px;
    }

    .nav-list {
      flex-direction: row;
      margin: 0 0 0 -65px;
    }

    .nav-item {
      width: 15%;
      padding: 10px 0;
      color: rgba(0,0,0,.1);
      background-color: transparent;
    }


    .nav-item a {
      color: rgba(0,0,0,.5);
      font-family: 'Roboto', sans-serif;
      padding: 0 5px;
      width: 110%;
      white-space: nowrap;
      text-align: center;
    }

    header {
      width: 98vw;
      max-width: 3000px;
      margin: auto;
    }
    .menuButton {
      display: inline-block;
      float:right;
      width: 150px;
      height: 100px;
      background: rgba(255,255,255,.2);
      margin: 20px;
      text-align: center;
      line-height: 100px;
      cursor: pointer;
    }

    .navbar {
      display: block;
      width: 95vw;
      position: absolute;
      margin-top: 125px;
      padding-left: 1.5vw;
    }

    .nav-line {
      display: block;
      height: 3px;
      width: 100%;
      background-color: rgba(0,0,0,.1)
    }
    #logo {
      max-height: 100px;
      padding: 20px;
      display: inline-block;
      float: left;
    }


    .info-block h3 {
      font-size: 1.5em;
    }

    .info-block p {
      font-size: .75em;
    }

    #subWindow {
      width: 500px;
      height: 400px;
      margin-left: -250px;
    }

    .closeX {
      height: 23px;
      width: 23px;
      border-radius: 15px;
      border: 2px solid white;
    }

    #nwsCloseX {
      position: absolute;
      top: -7px;
      right: -7px;
      cursor: pointer;
    }
}


@media screen and (min-width: 850px) {
  .welcome {
    height: 775px;
  }

  .headline {
    font-size: 80px;
    }

  .btn a {
    padding: 20px 35px;
    font-size: 35px;
  }

  .text-blocks   {
    flex-direction: row;
    align-content: flex-start;
  }
  .content-block {
    width: 48.5%;
  }

  .img-container, .color-container {
    width: 80vw;
  }

  .two-block-container {

    flex-direction: row;
    align-items: flex-start;
    margin-bottom:50px;
  }

  #bible-study-block {
    margin-top: 0;
}
  .info-block {
    margin: 0px 30px;
    min-height: 438px;
  }

  #services {

  }

  .staff-block {
    flex-direction: row;
    justify-content: space-between;
  }

  .staff-block:nth-child(even) {
    flex-direction: row-reverse;
  }

  .staff-photo img {
    display: inline;
  }

  .staff-bio {
    width: 70%;
    text-align: center;
  }

  .staff-block:nth-child(even) .staff-photo {
    text-align: right;
  }

  .staff-bio h3 {
    margin: 0 0 .5em 0;
  }

@media screen and (min-width: 1240px) {
  .headline {
    font-size: 100px;
    }

  .navbar {
      width: calc(100% - 389px);
      display: inline-block;
      padding-top: 63px;
      position: absolute;
      padding-left: 0;
      margin-top: 0;
      left: 50%;
      margin-left: calc(-1 *((100% - 389px) / 2));
    }

  .nav-item a {
    font-size: 110%;
  }

  .nav-item {
    width: 18%;
  }

  .landing {
    min-height: 100vh;
  }

  .two-block-container {
    margin-bottom:90px;
  }

  .staff-photo {
    width: 40%;
  }

}
